
img {
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    display: block;
    cursor: pointer;
}
@media (max-width: 672px) {
    img {
        max-width: 200px;
        max-height: 200px;
    }
}