<div class="d-flex justify-content-center align-items-center  gap-2">
    <div class="image">
        <img class="w-100 h-100"
            src="https://as1.ftcdn.net/v2/jpg/01/98/95/36/1000_F_198953661_xKgWdQAsA1WirSJjwba8QRNBIDkoV2II.jpg" alt="">
    </div>
    <form [formGroup]="loginform" class=" align-self-center p-1 m-2">
        <div class="mb-3 position-relative">
            @if(loginform.get("email")?.touched && loginform.get("email")?.getError("required")){
            <span class="require text-danger fs-1">*</span>
            }
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            @if(loginform.get("email")?.getError("email")){
            <small class="text-danger">you should use a valid email </small>
            }
        </div>
        <div class=" mb-3 position-relative">
            @if(loginform.get("password")?.touched && loginform.get("password")?.getError("required")){
            <span class="require text-danger fs-1">*</span>
            }
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
            @if(loginform.get("password")?.getError("pattern")){
            <small class="text-danger">invalid, passwor should include letters first then numbers</small>
            }
            @if(loginform.get("password")?.getError("maxlength")){
            <small class="text-danger">invalid, maxlength shouldn't exceed 10</small>
            }
        </div>
        <button [disabled]="loginform.invalid" (click)="check()" type="submit" class="btn btn-primary">login</button>
    </form>
</div>