.image {
    height: 100vh;
}
label{
    color: rgb(3, 120, 159);
}
form {
    border: 1px solid #eee;
    background-color: rgb(244, 244, 242);
    min-width: 200px;
    
}

@media (min-width:676px) {
    form {
        min-width: 300px;
        padding: 20px;
    }
}

@media (max-width:547px) {
    form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
    }
}

.require {
    position: absolute;
    top: 10px;
    left: -10px;
}