.image {
    height: 100vh;
}

form {
    border: 1px solid #eee;
    background-color: beige;
    min-width: 200px;
}

@media (min-width:676px) {
    form {
        min-width: 250px;
    }
}

@media (max-width:547px) {
    form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
    }
}

.require {
    position: absolute;
    top: 10px;
    left: -10px;
}